@font-face {
    font-family: 'HarmonyOS';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../fonts/HarmonyOS_Sans_SC_Thin.ttf');
}

@font-face {
    font-family: 'HarmonyOS';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/HarmonyOS_Sans_SC_Light.ttf');
}

@font-face {
    font-family: 'HarmonyOS';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/HarmonyOS_Sans_SC_Regular.ttf');
}

@font-face {
    font-family: 'HarmonyOS';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/HarmonyOS_Sans_SC_Medium.ttf');
}

@font-face {
    font-family: 'HarmonyOS';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/HarmonyOS_Sans_SC_Bold.ttf');
}

@font-face {
    font-family: 'HarmonyOS';
    font-style: normal;
    font-weight: bolder;
    font-display: swap;
    src: url('../fonts/HarmonyOS_Sans_SC_Black.ttf');
}